---
- hosts: all
  become: yes
  become_user: root

  tasks:
  - name: Install openshift packages 
    yum: name={{ item }} state=latest
    with_items:
      - wget
      - git
      - net-tools
      - bind-utils
      - iptables-services
      - bridge-utils
      - bash-completion
      - atomic-openshift-utils
      - atomic-openshift-excluder
      - atomic-openshift-docker-excluder

  - name: run command
    command: atomic-openshift-excluder unexclude
    register: out
  - debug: var=out.stdout_lines

  - name: Install docker package
    yum: 
      name: docker
      state: latest

  - name: Check docker version
    command: docker version
    register: out
  - debug: var=out.stdout_lines

  - name: Check docker sysconfig1
    command: grep -P '^OPTIONS.+?--insecure-registry=172.30.0.0/16' /etc/sysconfig/docker
    register: out
  - debug: var=out.stdout_lines

  - name: Check docker sysconfig2
    command: grep -P '^OPTIONS.+?--selinux-enabled' /etc/sysconfig/docker
    register: out
  - debug: var=out.stdout_lines
